{% extends 'layout.html' %}

{% block body %}
 <peta class="container-fluid">
  <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">Interactive Disaster Index Risk Map
    <br>built using Folium Python library</h1>
  <div>
  <p>
  </p>
  </div>
  <div>
    <ul class="list-group-item">
    <li class="list-group-item"><a href="/peta/semuabencana">Peta Resiko Semua Bencana</a></li>
    <li class="list-group-item"><a href="/peta/bencanagempa">Peta Resiko Bencana Gempa Bumi</a></li>
    <li class="list-group-item"><a href="/peta/bencanagunungapi">Peta Resiko Bencana Gunung Api</a></li>
    <li class="list-group-item"><a href="/peta/bencanabanjir">Peta Resiko Bencana Banjir</a></li>
    <li class="list-group-item"><a href="/peta/bencanalongsor">Peta Resiko Bencana Tanah Longsor</a></li>
    <li class="list-group-item"><a href="/peta/bulog">Peta Lokasi Gudang Bulog</a></li>
    </ul>
  <p></p>
  </div>
 </peta>
{% endblock %}