{% extends 'layout.html' %}

{% block body %}
 <peta class="container-fluid">
  <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">Interactive Disaster Index Risk Map</h1>
  <br>
  <h2 class="page-section-subheading text-center text-secondary">Built using Folium Python library</h2>
  <div>
  <p>
  </p>
  </div>
  <div>
    <ul class="list-group-item text-center">
    <li class="list-group-item"><a href="/peta/semuabencana">Multi-disaster risk map</a></li>
    <li class="list-group-item"><a href="/peta/bencanagempa">Earhquake risk map</a></li>
    <li class="list-group-item"><a href="/peta/bencanagunungapi">Volcanic eruption risk map</a></li>
    <li class="list-group-item"><a href="/peta/bencanabanjir">Flood risk map</a></li>
    <li class="list-group-item"><a href="/peta/bencanalongsor">Landslide risk map</a></li>
    <li class="list-group-item"><a href="/peta/bulog">Warehouse location map</a></li>
    </ul>
  <p></p>
  </div>
 </peta>
{% endblock %}