{% extends 'layout1.html' %}

{% block body %}
<about class = "container-fluid">
  <div class="container d-flex align-items-center flex-column">
  <h1 class="page-section-heading text-center text-uppercase text-primary mb-0">Informasi Kebencanaan</h1>
  <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
  <div class="container d-flex align-items-center flex-column">
    <bencana class="row">
      <div class="col-auto">
        <a href="/trialpage/banjir" class ="btn btn-secondary btn lg">Bencana Banjir</a>
      </div>
      <div class="col-auto">
        <a href="/trialpage/longsor" class ="btn btn-secondary btn lg">Bencana Longsor</a>
      </div>
      <div class="col-auto">
        <a href="/trialpage/gempa" class ="btn btn-secondary btn lg">Bencana Gempa</a>
      </div>
      <div class="col-auto">
        <a href="/trialpage/gunung" class ="btn btn-secondary btn lg">Bencana Letusan Gunung</a>
      </div>
    </bencana>
    <img class="img-fluid" src="{{ gempa }}" alt=""/>
  </div>
</about>
{% endblock %}